<ion-content [fullscreen]="true">
  <!-- Loader -->
  <div class="loader" id="loader" style="z-index: 99999999999999"></div>
  <!-- profile -->
  <section class="profile container" id="profile">
    <div class="profile-content" id="profile-content">
      <div class="profile-img" id="profile-img">
        <img src="assets/mcuflix_logo.png" loading="lazy" alt="logo" />
      </div>
      <div class="profile-text" id="profile-text">
        <h2>
          <span class="color" id="color" style="color: #e50914">MCU</span>FLIX
        </h2>
        <p>Oops! Something went wrong.</p>
        <p>
          We apologize for the inconvenience.<br />
          Please check your internet connection and try again.
        </p>
      </div>
    </div>
  </section>
</ion-content>
